@import url('https://fonts.googleapis.com/css2?family=Lato&family=Oswald&family=Raleway&family=Roboto&display=swap');
body {
  margin: 0px;
  background-color: #F4F4F9;
}
a {
  text-decoration: none;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  font-family: 'Oswald', sans-serif;
  color: black;
  padding-left: 40px;
  padding-right: 40px;
  background-color: white;
  box-shadow: 5px 5px 10px;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 18px;
  font-size: 24px;
}
nav ul li a {
  color: black;
  text-decoration: underline;
}
nav ul li a:hover {
  color: rgb(0, 119, 255);
}
nav ul li .logout:hover {
  color: red;
}
.greeting {
  color: #57a7f2;
}
.header {
  font-family: 'Roboto', sans-serif;
  font-size: 35px;
  color: rgb(246, 241, 241);
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  background: linear-gradient(90deg, rgb(162, 94, 226) 0%, rgba(0, 0, 0, 1) 100%);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  display: inline-block;
}
.form_container {
  margin: 30px auto 30px;
  padding: 10px;
  width: 400px;
  min-height: 500px;
  box-shadow: 5px 5px 8px black;
  font-family: 'Raleway', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form_container h1 {
  font-family: sans-serif;
}
.form_main {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: center;
}
.form_container button {
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  background-color: #F4F4F9;
  transition: 100ms;
}
.form_container button:hover {
  transform: translate(0px, -3px);
  box-shadow: -3px 3px 3px black;
  cursor: pointer;
}
.form_group {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.form_group input {
  width: 250px;
  height: 25px;
  border: none;
  border-bottom: 3px solid rgb(227, 169, 169);
}
.form_group textarea {
  width: 250px;
}
.form_group input:focus {
  background-color: #e7e7e7;
  outline: none;
}
.error_field {
  color: red;
}
.success-message{
  color: green;
}
.post_container {
  padding: 30px;

  display: grid;
  grid-template-columns: 1fr minmax(500px, 1000px) 1fr;
  gap: 22px;
}
.post_card {
  grid-column: 2 / 2;
  font-family: monospace;
  padding: 16px;
  background-color: #1c2403;
  color: rgb(2, 254, 254);
  border-radius: 5px;
  font-size: 18px;
}
.post_card .title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 6px;
}
.post_card .date {
  font-family: 'Lato', sans-serif;
  font-style: italic;
  font-size: 18px;
  opacity: .8;
}
.post_card .user_details {
  margin-top: -8px;
  margin-bottom: 5px;
  border-bottom: 3px solid rgb(252, 4, 4);
  padding: 4px;
  font-style: italic;

  display: grid;
  grid-template-columns: auto 1fr 75px;
}
.user_details .fullname {
  margin-left: 6px;
}
.delete_post {
  color: #3882F6;
  font-size: 22px;
}
.delete_post:hover {
  text-decoration: underline;
}